/*  css style sheet for
    Project01 Basic Business or Personal Website
    */


/* Page 1  Home */
body {
	background-image: url(old-paper-background-926.jpg);
	max-width: 1024px;
	color: #331a00;
}    

/* main Banner */
div.banner {
	width: "1024px";
}


/*  nav bar  setup */
#navBig  { 
    height: 85px;
    width: 1024px;
    background-color: #331a00;    /*brown */
    
}

#navBig >nav >ul {
	       
	list-style-type: none;      /* no bullets */
	font-family: "Trebuchet MS", Tahoma;
	font-size: 20px;
	text-align: center;
	padding-top: 30px;
	background-color: #331a00;      

}

#navBig >nav >ul >li {
	display: inline;
	padding: 40px;

} 

#navBig >nav >ul >li >a {
	color: yellow;
}



/* Main image and Main text */

#Main-image {
	width:760px;
	height:470px;
	float: left;
	margin-bottom: 60px;
}


#Main-text {
	
    margin-left: 0px;
	

	padding-top: 200px;
    font-family: "Trebuchet MS", Tahoma;
    color: #331a00;          /* brown */
    font-size: 18px;
    text-align: center;
    margin-bottom: 60px;
}



/*  Page 2 Menu  */

#Menu {
	background-image: url("old-paper-backgr-menu2.jpg");
	background-repeat: no-repeat;
	padding: 0px;
	margin: 0px;
    min-height: 770px;
    min-width: 530;
}


/*  spacing box  - pages 2 and 3 */
.topbox {
	border-color: black;     /* border needed to debug position */
	border-style: none;
	width: 445px;
	height: 375px;
	padding-left: 30px;
	margin-left: 20px;  
}

/* bottom box - contains content - pages 2 and 3 */
.bottombox {
	border-color: black;   /* border needed to debug position */
	border-style: none;
	width: 445px;
	height: 320px;
	padding-left: 30px;
	margin-left: 30px;
}

/* mini Navbar  -  pages 2 and 3  */

.navbar-mini > ul {
    list-style-type: none;        /* no bullets */
	font-weight: bold;
	font-family: "Trebuchet MS", Tahoma;
	font-size: 16px;
	text-align: center;
	padding-left: 0px;
	padding-top: 60px;


}

.navbar-mini >ul > li {
	display: inline;
	padding-left: 20px; 
	padding-right: 20px;

	background-color: #331a00;

}

.navbar-mini >ul > li > a {
	color: yellow;  
}




/*  menu items text */
.menutxt {
	margin-bottom: 20px;
	font-family: "Trebuchet MS", Tahoma;
	font-size: 14px;       /* Chrome chooses its own size */
	font-color: black !important;
}	



/* Page 3 "Contact Us" */

#Contact {
	background-image: url("old-paper-backgr-contact.jpg");
	background-repeat: no-repeat;
	padding: 0px;
	margin: 0px;
    min-height: 770px;
    min-width: 530px;
}

#formlegend  {
	font-family: "Trebuchet MS", Verdana;
	font-size: 24px;
	color: Magenta;     

}





